/* Common Settings (Start)*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700italic);
 *,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
    font-family: 'Josefin Slab', 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    background: #222;
    background-image: url('../img/carbon_fibre.png');
    background-repeat: repeat;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.expandable-panel {
    position: relative;
    overflow: auto;
    display: block;
}
.expandable-panel-content {
    display: block;
    overflow: hidden;
    margin-top: -999px;
}
button {
    border: none;
    padding: 0.6em 1.2em;
    background: #388a5a;
    color: #fff;
    font-family: 'Josefin Slab', 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}
button:hover {
    background: #2c774b;
}
button:focus {
    background: #8a8a8a;
}
button.signoff {
    background-color: #DF5F5F;
    padding: 0.3em 0.6em;
}
button.signoff:hover {
    background-color: #FF5F5F;
    padding: 0.3em 0.6em;
}
#content {
    margin-top: 100px;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(160, 160, 160, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(160, 160, 160, 0.75), rgba(0, 0, 0, 0));
}
p{
    font-size: 1.4em;
    line-height: 1.4em;
}
/* Common Settings (End)*/

/* Album list Settings (Start)*/

#albumListContainer {
    width: 100%;
    display: none;
    float: left;
}
.column {
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding: 2em;
    text-align: center;
    font-size: 80%;
    min-height: 0;
}
.column:nth-child(2) {
    text-align: center;
}
/* Album list Settings (End)*/

/* Profile Settings (Start)*/

#profileDataContainer {
    width: 100%;
    float: right;
    display: none;
}
#userID {
    margin: 3px;
    text-align: right;
    font-size: 1.4em;
}
#email {
    color: #ddd;
    font-size: 1.2em;
}
#signoffButton {
    cursor: pointer;
    margin: 3px;
    text-align: right;
    padding-bottom: 2em;
}
/* Profile Settings (End)*/

/* Gallery (Start)*/

#album-gallery {
    display: none;
}
.gallery-nav {
    text-align: center;
}
#more {
    float: right;
}
#more:disabled {
    float: right;
    background: grey;
    color: darkgrey;
}
#pages {
    display: inline-flex;
    float: left;
}
img {
    border: 0;
    margin: 2px;
    vertical-align: middle;
    height: 70px;
}
h1 {
    line-height: 1em;
}
.links {
    text-align: center;
}
/* Gallery (End)*/

/* Others (Start)*/

#login-page {
    display: block;
    margin: auto;
    padding: 5px;
    width: 60%;
    text-align: center;
    /*background-color: #333;*/
    color: silver;
}
#welcome-page {
    display: none;
    margin: auto;
    padding: 5px;
    width: 60%;
    text-align: center;
    /*background-color: #333;
    opacity: 0.8;*/
}
#loader {
    height: 18px;
}
#oops {
    font-size: 1.2em;
    color: #f55;
}
/* Others (End)*/

/* Top Bar (Start) */

#TopBar {
    width: 100%;
}
#spacing {
    height: 2px;
    background: #222;
    width: 100%;
}
img.profile {
    height: 48px;
    width: 48px;
    margin: 0;
    cursor: pointer;
}
.menu-icon {
    display: block;
    background: transparent url('../img/menu-sprite.svg') no-repeat;
    background-size: auto 100%;
    height: 3em;
    width: 3em;
    cursor: pointer;
    float: left;
    background-color: #555;
}
.profile-pic {
    float: right;
}
/* Top Bar (End) */

#status {
    display: block;
    color: #696;
}
#wrapper {
    min-height:100%;
	position:relative;
}


